<header class="header-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 col-md-4">
        <div class="logo">
          <img src="./images/Logos/Logo_JI_01.png" alt="Juan Ignacio Concha">
        </div>
      </div>
      <!-- INFO DESKTOP -->
      <div class="col-md-8 text-end header-info d-none d-md-block">
        <div class="phone">+56 9 53 66 0469</div>
        <div class="hours">Lunes a Viernes · 9:00 – 18:00</div>
        <div class="social">
          <a href="https://www.linkedin.com/in/juan-ignacio-c-1283a1175/"><img src="./images/icons/linkedin.svg" alt="LinkedIn"></a>
          <a href="https://www.instagram.com/abogadoji/"><img src="./images/icons/instagram.svg" alt="Instagram"></a>
        </div>
      </div>
    </div>
  </div>
</header>
