<header class="header-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 col-md-4">
        <div class="logo">
          <img src="./images/Logos/Logo_JI_01.png" alt="Juan Ignacio Concha">
        </div>
      </div>
      <!-- INFO DESKTOP -->
      <div class="col-md-8 text-end header-info d-none d-md-block">
        <div class="phone">+569 5366 0469</div>
        <div class="hours">Lunes a Viernes · 9:00 - 18:00</div>
        <div class="social">
          
          <a href="https://encuadrado.com/p/abogado-ji?utm_source=ig&utm_medium=social&utm_content=link_in_bio" target="_blank" rel="noopener noreferrer">
            <img src="./images/icons/calendar-date.svg" alt="Agenda"></a>
          
          <a href="https://www.instagram.com/abogadoji/" target="_blank" rel="noopener noreferrer">
            <img src="./images/icons/instagram.svg" alt="Instagram"></a>

          <a href="https://www.tiktok.com/@abogadoji?_t=ZS-8yKiTIKVp8D&_r=1" target="_blank" rel="noopener noreferrer">
            <img src="./images/icons/tiktok.svg" alt="TikTok"></a>

          <a href="https://www.linkedin.com/in/juan-ignacio-c-1283a1175/" target="_blank" rel="noopener noreferrer">
            <img src="./images/icons/linkedin.svg" alt="LinkedIn"></a>

        </div>
      </div>
    </div>
  </div>
</header>
