<header class="header-top">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-6 col-md-4">
        <div class="logo">
          <img src="./images/Logos/Logo_JI_01.png" alt="Juan Ignacio Concha">
        </div>
      </div>

      <!-- INFO DESKTOP -->
      <div class="col-md-8 text-end header-info d-none d-md-block">
        <div class="phone">+56 9 7471 7602</div>
        <div class="hours">Lunes a Viernes · 9:00 – 17:30</div>
        <div class="social">
          <a href="#"><img src="./images/icons/linkedin.svg" alt="LinkedIn"></a>
          <a href="#"><img src="./images/icons/instagram.svg" alt="Instagram"></a>
        </div>
      </div>

      <!-- HAMBURGER MOBILE -->
      <!-- <div class="col-6 d-md-none text-end">
<button id="openMenu" class="hamburger-btn" type="button">
  <img src="./images/icons/menu.svg" alt="Menú">
</button>
      </div> -->



    </div>
  </div>
</header>
