<header class="header-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 col-md-4">
        <div class="logo">
          <img src="./images/Logos/Logo_Tecaivot_isotipo-white.png" alt="Tecaivot - SCT">
        </div>
      </div>
      <!-- INFO DESKTOP -->
      <div class="col-md-8 text-end header-info d-none d-md-block">
        <div class="phone">+569 3544 4514</div>
        <div class="hours">Lunes a Viernes · 9:00 - 18:00</div>
        <div class="social">
                   
          <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
            <img src="./images/icons/instagram.svg" alt="Instagram"></a>

          <a href="https://www.tiktok.com/" target="_blank" rel="noopener noreferrer">
            <img src="./images/icons/tiktok.svg" alt="TikTok"></a>

          <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
            <img src="./images/icons/linkedin.svg" alt="LinkedIn"></a>

        </div>
      </div>
    </div>
  </div>
</header>
