<!-- =============================================================
     FOOTER
     Archivo:
     partials/footer.html
     ============================================================= -->

<footer
    id="footer-container"
    class="footer-section"
>

    <div class="container">

        <!-- =====================================================
             FOOTER INFERIOR
             ===================================================== -->

        <div class="footer-bottom">

            <span class="copyright">
                © KUDO Chile · All Rights Reserved
            </span>

            <div class="credits">

                <span>
                    Website by
                </span>

                <a
                    href="https://www.helheim.cl/"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    helheim.cl
                </a>

                <span>·</span>

                <a
                    href="https://www.linkedin.com/in/juan-antonio-c-b87777106/"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    JACL
                </a>

                <span>·</span>

                <a
                    href="https://www.linkedin.com/in/maite-lazcano-gaedicke-042064182/"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    MCLG
                </a>

            </div>

        </div>

    </div>

</footer>

<!-- =============================================================
     FIN FOOTER
     ============================================================= -->