 <nav
        class="navbar navbar-expand-lg navbar-dark fixed-top kudo-navbar"
        id="mainNavbar"
    >

        <div class="container">

            <!-- LOGO / MARCA -->

            <a
                class="navbar-brand d-flex align-items-center"
                href="#home"
            >
 <!-- LOGO REDONDO -->

            <span class="kudo-navbar-logo">

                <img
                    src="./images/LogoKudoChile.png"
                    alt="Kudo Chile"
                >

            </span>
                <span class="kudo-navbar-mark">
                    KUDO
                </span>

                <span class="kudo-navbar-country">
                    CHILE
                </span>

            </a>


            <!-- BOTÓN MOBILE -->

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarKudo"
                aria-controls="navbarKudo"
                aria-expanded="false"
                aria-label="Abrir navegación"
            >

                <span class="navbar-toggler-icon"></span>

            </button>


            <!-- MENÚ -->

            <div
                class="collapse navbar-collapse"
                id="navbarKudo"
            >

                <ul class="navbar-nav ms-auto align-items-lg-center">

                    <li class="nav-item">

                        <a
                            class="nav-link"
                            href="#about"
                        >
                            ¿Qué es Kudo?
                        </a>

                    </li>


                    <li class="nav-item">

                        <a
                            class="nav-link"
                            href="#events"
                        >
                            Eventos
                        </a>

                    </li>


                    <li class="nav-item">

                        <a
                            class="nav-link"
                            href="#dojos-chile"
                        >
                            Dojos
                        </a>

                    </li>


                    <li class="nav-item">

                        <a
                            class="nav-link"
                            href="#bushido"
                        >
                            Budo / Bushido
                        </a>

                    </li>


                    <li class="nav-item">

                        <a
                            class="nav-link"
                            href="#grados"
                        >
                            Grados
                        </a>

                    </li>





                    <li class="nav-item">

                        <a
                            class="nav-link"
                            href="#hokutoki"
                        >
                            Hokutoki
                        </a>

                    </li>


                    <!-- REDES -->

                    <li class="nav-item ms-lg-3">

                        <a
                            class="nav-social"
                            href="https://www.instagram.com/kudochileoficial/"
                            target="_blank"
                            aria-label="Instagram Kudo Chile"
                        >
                            <i class="fa fa-instagram"></i>
                        </a>

                    </li>


                    <li class="nav-item">

                        <a
                            class="nav-social"
                            href="https://web.facebook.com/KudoChile"
                            target="_blank"
                            aria-label="Facebook Kudo Chile"
                        >
                            <i class="fa fa-facebook-official"></i>
                        </a>

                    </li>


                    <li class="nav-item">

                        <a
                            class="nav-social"
                            href="https://www.youtube.com/@KudoChileOficial"
                            target="_blank"
                            aria-label="YouTube Kudo Chile"
                        >
                            <i class="fa fa-youtube"></i>
                        </a>

                    </li>

                </ul>

            </div>

        </div>

    </nav>