
<!--==================== Carousel Móvil ====================-->
<div id="CarouselMovil" class="carousel slide d-block d-md-none" data-bs-ride="carousel">
  <div class="carousel-inner">
    
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="./images/movil/004-bannermobile-soldigi.png" 
      class="d-block w-100" alt="BannerSolucionesDigitales">
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <img src="./images/movil/002-bannermobile-gespro.png" 
      class="d-block w-100" alt="BannerGestiónProyectos">
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <img src="./images/movil/007-bannerdesk-scanner.png" 
      class="d-block w-100" alt="BannerEscanerVehicular">
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <img src="./images/movil/001-bannermobile-desweb.png" 
      class="d-block w-100" alt="BannerDesarrolloWeb">
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <img src="./images/movil/005-bannermobile-disind.png" 
      class="d-block w-100" alt="BannerDiseñoIndustrial">
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <img src="./images/movil/006-bannermobile-disgra.png" 
      class="d-block w-100" alt="BannerDiseñoGráfico">
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <img src="./images/movil/003-bannermobile-tecdron.png" 
      class="d-block w-100" alt="BannerTecnologíaDrones">
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#CarouselMovil" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#CarouselMovil" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--==================== END Carousel Móvil ====================-->