<header>
    <nav class="navbar navbar-dark fixed-top">
        <div class="container-fluid px-3 px-md-4">

            <a class="navbar-brand" href="https://www.helheim.cl">Helheim.cl</a>

            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto py-3 py-md-0">

                    <li class="nav-item">
                        <a href="https://www.helheim.cl" class="nav-link">
                            <i class="bi bi-house me-1"></i> Inicio
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="https://www.helheim.cl/section/01_CTI_ISDW_IS.html" class="nav-link">
                            <i class="bi bi-laptop me-1"></i> Consultoría TI
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="https://www.helheim.cl/section/10_DIN_IyC_DG.html" class="nav-link">
                            <i class="bi bi-tools me-1"></i> Diseño Industrial
                        </a>
                    </li>


                    <li class="nav-item">
                        <a href="https://www.helheim.cl/Proyectos/Informes/indexscanner.php" class="nav-link">
                            <i class="bi bi-car-front me-1"></i> Escáner Vehicular
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="https://www.helheim.cl/Proyectos/grabadolaser/index.html" class="nav-link">
                            <i class="bi bi-stars me-1"></i> Grabado Láser
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="https://www.helheim.cl/Proyectos/DibujoTecnico/index.html" class="nav-link">
                            <i class="bi bi-pencil-square me-1"></i> Dibujo Técnico
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="https://www.helheim.cl/Proyectos/Drones/index.html" class="nav-link">
                            <i class="bi bi-camera-video me-1"></i> Drones
                        </a>
                    </li>



                    <li class="nav-item">
                        <a href="https://helheim.cl/ruko/index.php?module=users/login" target="_blank" class="nav-link">
                            <i class="bi bi-box-arrow-in-right me-1"></i> Intranet
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://helheim.cl:2096/" target="_blank" class="nav-link">
                            <i class="bi bi-envelope-open me-1"></i> Correo
                        </a>
                    </li>

                    <li class="nav-section-label mt-2">Redes &amp; Contacto</li>

                    <li class="nav-item px-2 pb-2">
                        <div class="d-flex gap-3 nav-social-row ps-1 pt-1">
                            <a href="https://wa.me/56958453672?text=Hola, quiero saber mas sobre los Helheim y sus servicios"
                               target="_blank" aria-label="WhatsApp"><i class="bi bi-whatsapp"></i></a>
                            <a href="https://www.instagram.com/helheim_tierra_del_fuego/" target="_blank" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/company/103153651/"         target="_blank" aria-label="LinkedIn"><i class="bi bi-linkedin"></i></a>
                            <a href="https://web.facebook.com/HelheimTierradelfuego/"     target="_blank" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>