<!--==================== SERVICIOS ====================-->
<section id="servicios" class="services-section pt-2 pb-3 mt-0">
  <div class="service-bg d-flex align-items-center">
    <div class="container position-relative">

      <!-- Título centrado -->
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="about-title services-title text-white">Servicios</h2>
        </div>
      </div>

      <!-- 2 cards centradas con separación -->
      <div class="row justify-content-center g-4 pt-2 pb-2">
        <!-- Card SERVICIO 1 -->
        <div class="col-12 col-md-10 col-lg-5">
          <div class="card h-100 shadow-lg service-card-plain card-ti">
            <div class="card-body">
              <h3 class="card-title mb-2">Consultoría TI</h3>
              <p class="card-text">
                Implementación de sistemas y desarrollo web con Bootstrap, JavaScript, PHP, MySQL, Python, React y Angular. 
                Gestión de proyectos mediante Scrum o cascada. Integración de soluciones en hidrógeno verde y desarrollo en uso de drones DJI.
          </p>
              <a href="https://www.helheim.cl/section/01_CTI_ISDW_IS.html" class="btn btn-outline-light">Ver más</a>
            </div>
          </div>
        </div>

        <!-- Card SERVICIO 2 -->
        <div class="col-12 col-md-10 col-lg-5">
          <div class="card h-100 shadow-lg service-card-plain card-di">
            <div class="card-body">
              <h3 class="card-title mb-2">Diseño</h3>
              <p class="card-text">
                Desarrollo y producción con modelado 3D y creación de prototipos físicos o virtuales.
                Diseño de animación, diseño de banner web y gráfico orientado al producto, identidad visual y marketing, para soluciones innovadoras, funcionales y coherentes.
          </p>
              <a href="https://www.helheim.cl/section/10_DIN_IyC_DG.html" class="btn btn-outline-light">Ver más</a>
            </div>
          </div>
        </div>
      </div><!-- /.row -->

    </div><!-- /.container -->
  </div><!-- /.service-bg -->
</section>