<section id="especialidades" class="section">
  <div class="container">
    <h2 class="section-title">Soluciones Jurídicas Especializadas</h2>

    <div class="row mt-5 justify-content-center g-4">
      <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-center">
        <div class="service-card">
          <img src="./images/laboral.png">
          <h3>Derecho Laboral</h3>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-center">
        <div class="service-card">
          <img src="./images/fraude.png">
          <h3>Fraude Bancario</h3>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-center">
        <div class="service-card">
          <img src="./images/compliance.png">
          <h3>Compliance</h3>
        </div>
      </div>
    </div>

    <div class="row mt-4 justify-content-center g-4">
      <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-center">
        <div class="service-card">
          <img src="./images/cibercrimen.png">
          <h3>Cibercrimen</h3>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-center">
        <div class="service-card">
          <img src="./images/familia.png">
          <h3>Derecho de Familia</h3>
        </div>
      </div>
    </div>
  </div>
</section>
