<nav class="nav-bottom d-none d-md-block"> 
  <div class="container"> <ul class="nav justify-content-center"> 
    <li class="nav-item"><a class="nav-link" href="#inicio">Inicio</a></li> 
    <li class="nav-item"><a class="nav-link" href="#especialidades">Áreas</a></li> 
    <li class="nav-item"><a class="nav-link" href="#diferenciales">Diferenciales</a></li> 
    <li class="nav-item"><a class="nav-link" href="#perfil">Perfil</a>
    </li> <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a>
    </li> </ul> </div> </nav>